.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
    text-align: center;
}

.intro h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.nav-buttons .btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: #1f1f1f;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-buttons .btn:hover {
    background-color: #333;
}
